<!--
  How Hot 2 - AQI Graphs
  (c) 2021  Owen McGinley
  Licensed under MIT License
-->

<div class="row">
    <div class="card bg-light">
        <div class="card-content">
            <span class="card-title">Historical AQI</span>
            <div id="aqi-chart" style="min-height: 400px"></div>
        </div>
    </div>
</div>
<div class="row">
    <div class="card bg-light">
        <div class="card-content">
            <span class="card-title">Historical ΔAQI over 24 hours</span>
            <div id="daqi-chart" style="min-height: 400px"></div>
        </div>
    </div>
</div>
<div class="row">
    <div class="card bg-light">
        <div class="card-content">
            <span class="card-title">Historical PM1.0 concentration</span>
            <div id="pm10-chart" style="min-height: 400px"></div>
        </div>
    </div>
</div>
<div class="row">
    <div class="card bg-light">
        <div class="card-content">
            <span class="card-title">Historical Δµg/m3 PM1.0 concentration over 24hrs</span>
            <div id="dpm10-chart" style="min-height: 400px"></div>
        </div>
    </div>
</div>
<div class="row">
    <div class="card bg-light">
        <div class="card-content">
            <span class="card-title">Historical PM2.5 concentration</span>
            <div id="pm25-chart" style="min-height: 400px"></div>
        </div>
    </div>
</div>
<div class="row">
    <div class="card bg-light">
        <div class="card-content">
            <span class="card-title">Historical Δµg/m3 PM2.5 concentration over 24hrs</span>
            <div id="dpm25-chart" style="min-height: 400px"></div>
        </div>
    </div>
</div>
<div class="row">
    <div class="card bg-light">
        <div class="card-content">
            <span class="card-title">Historical PM10 concentration</span>
            <div id="pm100-chart" style="min-height: 400px"></div>
        </div>
    </div>
</div>
<div class="row">
    <div class="card bg-light">
        <div class="card-content">
            <span class="card-title">Historical Δµg/m3 PM10 concentration over 24hrs</span>
            <div id="dpm100-chart" style="min-height: 400px"></div>
        </div>
    </div>
</div>