<!--
  How Hot 2 - Graph Picker
  (c) 2021  Owen McGinley
  Licensed under MIT License
-->

<div class="card bg-light">
    <div class="card-content centercontent">
        <h6>Select a data type to view graphs for:</h6>
        <label>
            <input class="with-gap" onclick="graphSwitch('temp')" name="chartpick" type="radio" value="temp" id="defaultgraphpick" checked />
            <span style="padding-left: 25px; padding-right: 5px; color: black">Temperature</span>
        </label>
        <label>
            <input class="with-gap" onclick="graphSwitch('humidity')" name="chartpick" type="radio" value="humidity">
            <span style="padding-left: 25px; padding-right: 5px; color: black">Humidity</span>
        </label>
        <label>
            <input class="with-gap" onclick="graphSwitch('aqi')" name="chartpick" type="radio" value="aqi">
            <span style="padding-left: 25px; padding-right: 5px; color: black">Air Quality</span>
        </label>
        <label>
            <input class="with-gap" onclick="graphSwitch('pressure')" name="chartpick" type="radio" value="pressure">
            <span style="padding-left: 25px; padding-right: 5px; color: black">Pressure</span>
        </label>
    </div>
</div>