<!--
  How Hot 2 - Humidity Graphs
  (c) 2021  Owen McGinley
  Licensed under MIT License
-->

<div class="row">
    <div class="card bg-light">
        <div class="card-content">
            <span class="card-title">Historical humidity</span>
            <div id="hum-chart" style="min-height: 400px"></div>
        </div>
    </div>
</div>
<div class="row">
    <div class="card bg-light">
        <div class="card-content">
            <span class="card-title">Historical Dew Point</span>
            <div id="dp-chart" style="min-height: 400px"></div>
        </div>
    </div>
</div>
<div class="row">
    <div class="card bg-light">
        <div class="card-content">
            <span class="card-title">Historical ΔRH over 24 hours</span>
            <div id="humd-chart" style="min-height: 400px"></div>
        </div>
    </div>
</div>
<div class="row">
    <div class="card bg-light">
        <div class="card-content">
            <span class="card-title">Historical ΔRH between indoor and outdoor humidity</span>
            <div id="outhum-chart" style="min-height: 400px"></div>
        </div>
    </div>
</div>