<!--
  How Hot 2 - Lux Graphs
  (c) 2021  Owen McGinley
  Licensed under MIT License
-->

<div class="row">
    <div class="card bg-light">
        <div class="card-content">
            <span class="card-title">Historical ambient light level</span>
            <div id="lux-chart" style="min-height: 400px"></div>
        </div>
    </div>
</div>
<div class="row">
    <div class="card bg-light">
        <div class="card-content">
            <span class="card-title">Historical ambient light Δlux over 24hrs</span>
            <div id="dlux-chart" style="min-height: 400px"></div>
        </div>
    </div>
</div>