<!--
  How Hot 2 - Pressure Graphs
  (c) 2021  Owen McGinley
  Licensed under MIT License
-->

<div class="row">
    <div class="card bg-light">
        <div class="card-content">
            <span class="card-title">Historical pressure</span>
            <div id="pres-chart" style="min-height: 400px"></div>
        </div>
    </div>
</div>
<div class="row">
    <div class="card bg-light">
        <div class="card-content">
            <span class="card-title">Historical Δmb over 24hrs</span>
            <div id="dpres-chart" style="min-height: 400px"></div>
        </div>
    </div>
</div>