<!--
  How Hot 2 - Temperature Graphs
  (c) 2021  Owen McGinley
  Licensed under MIT License
-->

<div class="row">
    <div class="card bg-light">
        <div class="card-content">
            <span class="card-title">Historical temperature</span>
            <div id="temp-chart" style="min-height: 400px"></div>
        </div>
    </div>
</div>
<div class="row">
    <div class="card bg-light">
        <div class="card-content">
            <span class="card-title">Historical ΔT over 24 hours</span>
            <div id="tempd-chart" style="min-height: 400px"></div>
        </div>
    </div>
</div>
<div class="row">
    <div class="card bg-light">
        <div class="card-content">
            <span class="card-title">Historical ΔT between indoor and outdoor temp</span>
            <div id="outtemp-chart" style="min-height: 400px"></div>
        </div>
    </div>
</div>