/*
  How Hot 2 - CSS Assets
  (c) 2021  Owen McGinley
  Licensed under MIT License
*/

.centercontent {
    text-align: center;
}

.h3style {
    margin: 1.168rem 0 1.168rem 0; 
    left: -10px; 
    position: relative
}

.h3style-fire {
    margin: 1.168rem 0 1.168rem 0; 
    left: -20px; 
    position: relative
}

.h3style-noposchange {
    margin: 1.168rem 0 1.168rem 0; 
}

status-indicator {
    vertical-align: middle;
    top: -3px;
    position: relative;
}

.card-title {
    margin-bottom: 16px;
}