<!--
  How Hot 2 - AQI Summary
  (c) 2021  Owen McGinley
  Licensed under MIT License
-->

<div class="card bg-light">
    <div class="card-content centercontent">
        <h5>Air Quality:</h5>
        <h3 class="h3style" id="aqi-h3">
        </h3>
        <h6>PM1 concentration: <span id="pm1-conc"></span> µg/m3</h6>
        <h6>PM2.5 concentration: <span id="pm25-conc"></span> µg/m3</h6>
        <h6>PM10 concentration: <span id="pm100-conc"></span> µg/m3</h6>
        <h6>ΔAQI in 24hrs: <span id="aqi-24hdelta"></span> AQI</h6>
    </div>
</div>