<!--
  How Hot 2 - Humidity Summary
  (c) 2021  Owen McGinley
  Licensed under MIT License
-->

<div class="card bg-light">
    <div class="card-content centercontent">
        <h5>Humidity:</h5>
        <h3 class="h3style" id="hum-h3"></h3>
        <h6>Dew Point: <span id="dp-span"></span>°F</h6>
        <h6>ΔRH to outside: <span id="hum-delta"></span>%</h6>
        <h6>ΔRH in 24hrs: <span id="hum-24hdelta"></span>%</h6>
    </div>
</div>