<!--
  How Hot 2 - Lux Summary
  (c) 2021  Owen McGinley
  Licensed under MIT License
-->

<div class="card bg-light">
    <div class="card-content centercontent">
        <h5>Ambient Light:</h5>
        <h3 class="h3style-noposchange" id="lux-h3"></h3>
        <h6>Δlux in 24hrs: <span id="lux-24hdelta"></span> lux</h6>
    </div>
</div>