<!--
  How Hot 2 - Pressure Summary
  (c) 2021  Owen McGinley
  Licensed under MIT License
-->

<div class="card bg-light">
    <div class="card-content centercontent">
        <h5>Pressure:</h5>
        <h3 class="h3style-noposchange" id="pressure-h3">
        </h3>
        <h6>Δmb in 24hrs: <span id="pres-24hdelta"></span> mb</h6>
    </div>
</div>