<!--
  How Hot 2 - Temperature Summary
  (c) 2021  Owen McGinley
  Licensed under MIT License
-->

<div class="card bg-light">
    <div class="card-content centercontent">
        <h6>It is currently</h6>
        <h3 class="h3style" id="temp-h3">
        </h3>
        <h6>in the dorm room.</h6>
        <br>
        <div id="heatindex" style="display: none">
            <h6>Heat index: <span id="heatindex-span"></span>°F</h6>
            <small id="heatindex-advice" style="display: none"></small>
        </div>
        <h6>ΔT to outside: <span id="temp-delta"></span>°F</h6>
        <h6>ΔT in 24hrs: <span id="temp-24hdelta"></span>°F</h6>
        Last updated: <span id="lastupdated-span"></span>
    </div>
</div>