<!--
  How Hot 2 - About Page
  (c) 2021  Owen McGinley
  Licensed under MIT License
-->

<div class="card bg-light">
    <div class="card-content">
        <h5>About How Hot Is It In My Dorm Room (How Hot 2)?</h5>
        How Hot Is It In My Dorm Room was originally made in about 45 minutes after I had a pressing need to know, via a website, how hot it is in my dorm room. And it worked great. I could see if the room was getting warmer, colder, if the humidity was going up or down, it was a great time. <br><br>
        How Hot v1 was hooked up to PyWeather 2 (an e-ink weather display project), so it could only collect indoor temp/humidity. But now, How Hot v2 brings that to a whole new level. <br><br>
        Running off of the foundation of PyWeather 3, more sensors log more about environmental data. This includes:
        <ul>
            <li>Temperature/Humidity (SHTC3)</li>
            <li>Air Pressure (DPS310)</li>
            <li>Air Quality (PMSA300I)</li>
        </ul>
        Of course with so much data, I had to upgrade the web portal so it could show all of this data. Data is collected whenever the weather display updates (every 5 minutes), and then posted here. Historical data goes back 72 hours, 24-hr difference graphs go back 48 hours. <br><br>
        Basically everything is run on Python (including the display and the backend of this site). Frontend done with plain JS and jQuery. <br><br>
        Unlike v1 of How Hot, this site won't automatically update (since sometimes the weather data can go offline and then it'll throw you in a refresh loop). <br><br>
        Version 2.1.2 - Last updated 3/2/2021
    </div>
</div>