<!--
  How Hot 2 - HTML Base
  (c) 2021  Owen McGinley
  Licensed under MIT License
-->

<!DOCTYPE html>
<html lang="en">
<head>
    {% include "headers.html" %}
</head>
<script>
    var data_temp
    var data_hum
    var data_aqi
    var data_pres

    var temphtml;
    var humhtml;
    var aqihtml;
    var preshtml;

    $(function () {
        hihtml = new HeatIndex(data_temp, data_hum, $("#heatindex"), $("#heatindex-span"), $("#heatindex-advice"))
        hihtml.populate()
        temphtml = new Temperature(data_temp, $("#temp-h3"), $("#temp-delta"), $("#temp-24hdelta"), $("#lastupdated-span"), "temp-chart", "tempd-chart", "outtemp-chart", hihtml)
        temphtml.populate()
        humhtml = new Humidity(data_hum, $("#hum-h3"), $("#hum-delta"), $("#hum-24hdelta"), $("#dp-span"), "hum-chart", "humd-chart", "outhum-chart", "dp-chart")
        humhtml.populate()
        aqihtml = new AirQuality(data_aqi, $("#aqi-h3"), $("#pm1-conc"), $("#pm25-conc"), $("#pm100-conc"), $("#aqi-24hdelta"), "aqi-chart", "daqi-chart", "pm10-chart", "dpm10-chart", "pm25-chart", "dpm25-chart", "pm100-chart", "dpm100-chart")
        aqihtml.populate()
        preshtml = new Pressure(data_pres, $("#pressure-h3"), $("#pres-24hdelta"), "pres-chart", "dpres-chart")
        preshtml.populate()

        google.charts.load('current', {packages: ['corechart', 'line']})
        google.charts.setOnLoadCallback(predraw)

        $("#defaultgraphpick").prop("checked", true)
    })

    function predraw () {
        temphtml.rendergraph()
    }

    function resizer() {
        graphSwitch($("input[name='chartpick']:checked").val())
    }

    window.onresize = resizer
</script>
<body>
    <div class="container">
        <div class="row" style="margin-top: 30px">
            <div class="col s12">
                {% include "summaries/temp.html" %}
            </div>
        </div>
        <div class="row">
            <div class="col s12 m6 l4">
                {% include "summaries/humidity.html" %}
            </div>
            <div class="col s12 m6 l4">
                {% include "summaries/aqi.html" %}
            </div>
            <div class="col s12 m6 l4">
                {% include "summaries/pressure.html" %}
            </div>
        </div>
        <div class="row">
            {% include "graphs/graph-picker.html" %}
        </div>
        <div id="temp-graph">
            {% include "graphs/temp-graph.html" %}
        </div>
        <div id="hum-graph" style="display: none">
            {% include "graphs/hum-graph.html" %}
        </div>
        <div id="aqi-graph" style="display: none">
            {% include "graphs/aqi-graph.html" %}
        </div>
        <div id="pres-graph" style="display: none">
            {% include "graphs/pres-graph.html" %}
        </div>
        <div class="row">
            <div class="col s12">
                {% include "about.html" %}
            </div>
        </div>
        <div class="row">
            <div class="col s12">
                {% include "methodology.html" %}
            </div>
        </div>
    </div>
</body>
</html>