<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js" integrity="sha512-bLT0Qm9VnAYZDflyKcBaQ2gg0hSYNQrJ8RilYldYQ1FxQYoCLtUjuuRuZo+fjqhx/qtq/1itJ0C2ejDxltZVFg==" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
<link rel="stylesheet" href="/static/css/statusbutton.css">
<meta charset="UTF-8">
<meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
<title>How hot is it in the dorm room?</title>
<link rel="stylesheet" href="static/css/hh2.css">
<script src="static/js/Temperature.js"></script>
<script src="static/js/Humidity.js"></script>
<script src="static/js/AirQuality.js"></script>
<script src="static/js/onload.js"></script>
<script src="static/js/Pressure.js"></script>
<script src="static/js/Lux.js"></script>
<script src="static/js/graphswitch.js"></script>
<script src="static/js/HeatIndex.js"></script>