<!--
  How Hot 2 - Methodology Page
  (c) 2021  Owen McGinley
  Licensed under MIT License
-->

<div class="card bg-light">
    <div class="card-content">
        <h5>Methodology for status icons on How Hot 2</h5>
        The temperature, humidity, and AQI fields have different breakpoints for when the status icons are blue, green, orange, and red. These are the cutoffs. <br><br>
        Temperature:
        <ul>
            <li>Snowflake emoji - Temp is 59.99 F or lower</li>
            <li>Cold face emoji - Temp is 60.00 F - 62.99 F</li>
            <li>Blue status icon - Temp is 63.00 F - 65.99 F</li>
            <li>Green status icon - Temp is 66.00 F - 73.99 F</li>
            <li>Yellow status icon - Temp is 74.00 F - 79.99 F</li>
            <li>Red status icon - Temp is 80.00 F - 82.99 F</li>
            <li>Hot face emoji - Temp is 83.00 F - 85.99 F</li>
            <li>Fire emoji - Temp is 86.00 F - 94.99 F</li>
            <li>Meat on bone emoji - Temp is 95.00 F - 104.99 F</li>
            <li>Brick emoji - Temp is 105.00 F - 114.99 F</li>
            <li>Skull and Crossbones emoji - Temp is 115.00 F or higher</li>
        </ul>
        Humidity:
        <ul>
            <li>Desert emoji - Humidity is 9.99% or lower</li>
            <li>Red status icon - Humidity is 10.00% - 14.99%</li>
            <li>Yellow status icon - Humidity is 15.00% - 29.99%</li>
            <li>Green status icon - Humidity is 30.00% - 59.99%</li>
            <li>Yellow status icon - Humidity is 60.00% - 69.99%</li>
            <li>Red status icon - Humidity is 70.00% or higher</li>
        </ul>
        AQI:
        <ul>
            <li>Green status icon - AQI is 50 or lower</li>
            <li>Yellow status icon - AQI is 51 - 100</li>
            <li>Red status icon - AQI is 101 or higher</li>
        </ul>
    </div>
</div>